<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKpkyvytO4kRE3TUhXc7Tamdin9poQyOA</string>
	<key>GCM_SENDER_ID</key>
	<string>563100577793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jacksonshell.MealMap</string>
	<key>PROJECT_ID</key>
	<string>meal-map-c6d4e</string>
	<key>STORAGE_BUCKET</key>
	<string>meal-map-c6d4e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563100577793:ios:02472ed732a5ce74a15000</string>
</dict>
</plist>